
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home_page.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <title>Новости</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <img src="/static/images/Star 7.svg" alt="" class="logo">
            <div class="menu">
                <a href="/home_page" class="home_page">
                    <img src="/static/images/Category.svg" alt="">
                    <p>Новости</p>
                </a>
                <a href="/home/fonds">
                    <img src="/static/images/Work.svg" alt="">
                    <p>Фонды</p>
                </a>
                <a href="/home/grants">
                    <img src="/static/images/Emoji.svg" alt="">
                    <p>Гранты</p>
                </a>
                <a class="FAQ" href="/home/FAQ">
                    <img src="/static/images/Chat 2.svg" alt="">
                    <p>FAQ</p>
                </a>
            </div>
        </div>
        <div class="header_span">
            <div class="header">
                <h1><b>Новости</b></h1>
                <div class="person">
                    <p class="name">Эллина Кожокарь</p>
                    <p class="email">linaivashina68@gmail.com</p>
                </div>
            </div>
            <hr>
        </div>
            <div class="fonds">
                <div class="fond_item">
                    <img src="https://grants.culture.ru/upload/resize_cache/iblock/a6d/500_500_1/a6d3b8d94cbaad8c4bbd4ae32fd204b0.jpeg" alt="" width="224px" height="120px">
                    <div class="fond_text">
                        <p><b>Стартует прием заявок на грантовый Международный...</b></p>
                        <div class="data_and_href">
                            <h2>01.06.2023</h2>
                            <a href="https://grants.culture.ru/news/startuet-priem-zayavok-na-grantovyy-konkurs-mezhdunarodnoy-konkurs-premii-ulichnoy-kultury-i-sporta-/"><img src="/static/images/Arrow - Right 3.svg" alt="" class="arrow_img"></a>
                        </div>
                    </div>
                </div>
            
                <div class="fond_item">
                    <img src="https://grants.culture.ru/upload/resize_cache/iblock/5fc/500_500_1/5fc4885df8dc7494ad23420870639a12.png" alt="" width="224px" height="120px">
                    <div class="fond_text">
                        <p><b>Фестиваль новых литературных форматов «Молодой Пушкин»</b></p>
                        <div class="data_and_href">
                            <h2>30.05.2023</h2>
                            <a href="https://grants.culture.ru/news/festival-novykh-literaturnykh-formatov-molodoy-pushkin-proydyet-v-podmoskove-s-2-po-6-iyunya/"><img src="/static/images/Arrow - Right 3.svg" alt="" class="arrow_img"></a>
                        </div>
                    </div>
                </div>
            
                <div class="fond_item">
                    <img src="https://grants.culture.ru/upload/resize_cache/iblock/9b4/500_500_1/9b4467eb06187c367403e695ef5747da.jpg" alt="" width="224px" height="120px">
                    <div class="fond_text">
                        <p><b>Российский Фонд Культуры объявил конкурсный отбор...</b></p>
                        <div class="data_and_href">
                            <h2>02.06.2023</h2>
                            <a href="https://grants.culture.ru/news/rossiyskiy-fond-kultury-obyavil-konkursnyy-otbor-na-uchastie-v-proekte-masterskaya-po-inklyuzii-kult/"><img src="/static/images/Arrow - Right 3.svg" alt="" class="arrow_img"></a>
                        </div>
                    </div>
                </div>
            
                <div class="fond_item">
                    <img src="https://cdnn21.img.ria.ru/images/155926/62/1559266297_0:158:3077:1889_1920x0_80_0_0_7acef956dd44d6a5043e24605e1e225a.jpg.webp" alt="" width="224px" height="120px">
                    <div class="fond_text">
                        <p><b>Ленобласть вошла в пятерку рейтинга Минэка по числу...</b></p>
                        <div class="data_and_href">
                            <h2>12.04.2023</h2>
                            <a href="https://ria.ru/20230112/lenoblast-1844351128.html"><img src="/static/images/Arrow - Right 3.svg" alt="" class="arrow_img"></a>
                        </div>
                    </div>
                </div>
            
                <div class="fond_item">
                    <img src="https://президентскиегранты.рф/public/api/v1/file/get-image?fileName=f9b1181e-bed2-40e2-bcc1-4f7726c4431e.jpg" alt="" width="224px" height="120px">
                    <div class="fond_text">
                        <p><b>Завершилась независимая экспертиза проектов второго...</b></p>
                        <div class="data_and_href">
                            <h2>16.03.2023</h2>
                            <a href="https://президентскиегранты.рф/public/news/zavershilas%27-nezavisimaya-ekspertiza-proektov-vtorogo-konkursa-2023-goda"><img src="/static/images/Arrow - Right 3.svg" alt="" class="arrow_img"></a>
                        </div>
                    </div>
                </div>
            
                <div class="fond_item">
                    <img src="https://cdnn21.img.ria.ru/images/07e6/05/1e/1791807843_0:261:3177:2048_1920x0_80_0_0_41735fabdcd377a83372bc3e961e3f77.jpg.webp" alt="" width="224px" height="120px">
                    <div class="fond_text">
                        <p><b>Ростуризм предоставит гранты проектам в 48 регионах страны</b></p>
                        <div class="data_and_href">
                            <h2>14.03.2023</h2>
                            <a href="https://ria.ru/20220823/rosturizm-1811531003.html"><img src="/static/images/Arrow - Right 3.svg" alt="" class="arrow_img"></a>
                        </div>
                    </div>
                </div>
            
                <div class="fond_item">
                    <img src="https://grants.culture.ru/upload/resize_cache/iblock/085/500_500_1/0855c346f18ee81fc4568174717fb6f5.jpg" alt="" width="224px" height="120px">
                    <div class="fond_text">
                        <p><b>Подведены итоги конкурса на участие в Школе Фонда Потанина</b></p>
                        <div class="data_and_href">
                            <h2>07.03.2023</h2>
                            <a href="https://grants.culture.ru/news/podvedeny-itogi-konkursa-na-uchastie-v-shkole-fonda-potanina/"><img src="/static/images/Arrow - Right 3.svg" alt="" class="arrow_img"></a>
                        </div>
                    </div>
                </div>
            
                <div class="fond_item">
                    <img src="https://grants.culture.ru/upload/resize_cache/iblock/e2f/500_500_1/e2fe3578724b1c0036259853f60aeb83.jpg" alt="" width="224px" height="120px">
                    <div class="fond_text">
                        <p><b>Форум регионального кино «Новый вектор»</b></p>
                        <div class="data_and_href">
                            <h2>03.03.2023</h2>
                            <a href="https://grants.culture.ru/news/forum-regionalnogo-kino-novyy-vektor-proydet-v-kaliningradskoy-oblasti-v-kontse-iyunya/"><img src="/static/images/Arrow - Right 3.svg" alt="" class="arrow_img"></a>
                        </div>
                    </div>
                </div>
            
                <div class="fond_item">
                    <img src="https://grants.culture.ru/upload/resize_cache/iblock/8f4/500_500_1/8f42795174757db928c40e7880ae1fdb.png" alt="" width="224px" height="120px">
                    <div class="fond_text">
                        <p><b>«Гений — это ты!»: конкурс для представителей библиотек</b></p>
                        <div class="data_and_href">
                            <h2>01.03.2023</h2>
                            <a href="https://grants.culture.ru/news/geniy-eto-ty-konkurs-dlya-posetiteley-i-predstaviteley-bibliotek/"><img src="/static/images/Arrow - Right 3.svg" alt="" class="arrow_img"></a>
                        </div>
                    </div>
                </div>

                <div class="fond_item">
                    <img src="https://cdn5.vedomosti.ru/image/2019/9j/obuxd/original-vj5.jpg" alt="" width="224px" height="120px">
                    <div class="fond_text">
                        <p><b>Внесены изменения в приказы по микрогрантам</b></p>
                        <div class="data_and_href">
                            <h2>28.02.2023</h2>
                            <a href="https://grants.culture.ru/news/geniy-eto-ty-konkurs-dlya-posetiteley-i-predstaviteley-bibliotek/"><img src="/static/images/Arrow - Right 3.svg" alt="" class="arrow_img"></a>
                        </div>
                    </div>
                </div>

                <div class="fond_item">
                    <img src="https://im.kommersant.ru/Issues.photo/DAILY/2023/005/KMO_188847_00286_1_t246_001534.webp" alt="" width="224px" height="120px">
                    <div class="fond_text">
                        <p><b>Гранты специального назначения</b></p>
                        <div class="data_and_href">
                            <h2>27.02.2023</h2>
                            <a href="https://www.kommersant.ru/doc/5761326"><img src="/static/images/Arrow - Right 3.svg" alt="" class="arrow_img"></a>
                        </div>
                    </div>
                </div>

                <div class="fond_item">
                    <img src="https://президентскиегранты.рф/public/api/v1/file/get-image?fileName=68bf6520-07a6-4fe5-a8f3-20d2a8d23aa3.jpg" alt="" width="224px" height="120px">
                    <div class="fond_text">
                        <p><b>НКО представили на второй конкурс президентских...</b></p>
                        <div class="data_and_href">
                            <h2>05.02.2023</h2>
                            <a href="https://президентскиегранты.рф/public/news/nko-predstavili-na-vtoroy-konkurs-prezidentskikh-grantov-2023-goda--11-379-proektov"><img src="/static/images/Arrow - Right 3.svg" alt="" class="arrow_img"></a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="fake_block"></div>
    </div>
</body>
</html>