body{
    background-color: #101040;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


input{
    width: 460px;
    height: 18px; 
    border: none;
    border-radius: 5px;
    padding: 0;
    margin-top: 10px;
    font-size: 15px;
    padding-top: 22px;
    padding-left: 20px;
    padding-bottom: 22px;
}

button{
    width: 480px;
    height: 62px; 
    border: none;
    border-radius: 5px;
    padding: 0;
    background-color: #10B981;
    color: #FFFFFF;
}


.login{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-left: 480px;
    margin-top: 76px;
    width: 480px;
}

.log_email{
    margin-top: 52px;
}

.back{
    margin-left: 480px;
    margin-top: 120px;
    
}
.back a{
    display: flex;
}

.back img{
    color: #CBD5e1;
}

.back p{
    margin-left: 8px;
    color: gray;
    margin-top: 2px;
}

.log_header h1{
    font-size: 30px;
}

.log_header p{
    font-size: 15px;
    color: #94A3B8;
    padding-bottom: 0;
}


.log_button{
    margin-top: 24px;
}

