<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/forgot_password.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <title>Вход</title>
</head>
<body>
    <div class="back">
        <a href="./"><img src="/static/images/Arrow - left 3.svg" alt="">
        <p>Назад</p></a>
    </div>
    <div class="login">
        <div class="log_header">
            <h1>Забыли пароль?</h1>
            <p>Не переживайте. Впишите ваш email и мы отправим <br>
                на него подробную инструкцию по восстановлению пароля</p>
        </div>
        <form action="/forgot_password/send_email" method="post">
            <div class="log_email">
                <p>Email</p>
                <input type="text" class="email" name="email" required>
            </div>
            <div class="log_button">
                <button class="login_button" type="submit">Отправить</button>
            </div>
        </form>
    </div>
</body>
</html>