<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/registration.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <title>Новости</title>
</head>
<body>
    <div class="sidebar">
        <img src="../images/Star 7.svg" alt="" class="logo">
        <div class="menu">
            <div class="home_page">
                <img src="../images/Category.svg" alt="">
                <p>Новости</p>
            </div>
            <a class="search" href="/home/search">
                <img src="../images/Search.svg" alt="">
                <p>Поиск</p>
            </a>
            <a class="fonds" href="/home/fonds">
                <img src="../images/Work.svg" alt="">
                <p>Фонды</p>
            </a>
            <a class="grants" href="/home/grants">
                <img src="../images/Emoji.svg" alt="">
                <p>Гранты</p>
            </a>
            <a class="FAQ" href="/home/FAQ">
                <img src="../images/Chat 2.svg" alt="">
                <p>FAQ

                </p>
            </a>
        </div>
    </div>
    
</body>
</html>